{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
    <div class="banner">
        <img src="{% static 'imgs/banner.jpg' %}">
    </div>
    <div class="main">
        <h1>这是投票首页</h1>
        <div class="h4">
            {% for question in questions %}
                <div>
                    {{ forloop.counter }}.
            {#        <a href="/polls/{{ question.id }}/" target="_blank">#}
                    <a href="{% url 'detail' question_id=question.id %}" target="_blank">
                        {{ question.question_text }}
                    </a>
                    {{ question.pub_date }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="footer h4 text-center">
        <a href="#">达内云计算</a> NSD1808
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>