<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票首页</title>
</head>
<body>
<h1>投票首页</h1>
{% comment %}questions是views.index传过来的参数，question自定义的{% endcomment %}
{% for question in questions %}
    <div>  {% comment %}forloop.counter是模板语言中循环的计数器{% endcomment %}
        {{ forloop.counter }}.
{#        <a href="/polls/{{ question.id }}" target="_blank">#}
        <a href="{% url 'detail' question_id=question.id %}" target="_blank">
            {{ question.question_text }}
        </a>
        {{ question.pub_date }}
    </div>
{% endfor %}
</body>
</html>