.container {
    border: 1px solid black;
    width: 1000px;
    margin: 0 auto;   /*边距按上右下左顺序，也可以是上下 左右*/
    /*margin: 0 auto 0 auto;*/
}

.banner, .footer {
    height: 50px;
    background: darkgoldenrod;
}
.main {
    height: 300px;
    background: mediumpurple;
}


