.container {
    width: 1000px;
    margin: 0 auto;
}
.banner, .footer {
    font-weight: bold;
    height: 100px;
    background: lightgreen;
}
.left {
    font-style: italic;
    float: left;
    width: 300px;
    height: 300px;
    background: bisque;
}
.center {
    margin-left: 300px;
    width: 400px;
    height: 300px;
    /*background: lightgray;*/
    background-image: url("http://img57.nipic.com/20140804/18084856_163521307811_1.jpg");
    /*background-repeat: repeat-x;*/
    background-repeat: repeat-y;
}
.right {
    font-variant: all-small-caps;
    float: right;
    width: 300px;
    height: 300px;
    background: #aa8e19;
}



