.container {
    width: 1000px;
    margin: 0 auto;
}
.banner, .footer {
    height: 100px;
    background: lightgreen;
}
.left {
    float: left;
    width: 400px;
    height: 300px;
    background: bisque;
}
.right {
    margin-left: 400px;
    width: 600px;
    height: 300px;
    background: #aa8e19;
}

