p{
    margin: 0;
    padding: 0;
}
.container{
    width: 1000px;
    margin: 0 auto;
}

.banner, .footer{
    height: 100px;
    background: lightgray;
}
.left{
    float: left;
    width: 200px;
    /*height: 300px;*/
    background: lightblue;
}
.right{
    float: right;
    width: 200px;
    /*height: 300px;*/
    background: antiquewhite;
}
.middle{
    margin-left: 200px;
    width: 600px;
    /*height: 300px;*/
    background: darkcyan;
}
.clean{
    clear: both;
}
