.container {
    width: 1000px;
    margin: 0 auto;
}

.left {
    float: left;
    width: 200px;
    height: 300px;
    background: #bacedb;
}
.center {
    font-size: 15pt;
    font-weight: bold;
    font-style: italic;
    margin-left: 200px;
    width: 600px;
    height: 300px;
    background: lightgrey;
}

.right {
    float: right;
    width: 200px;
    height: 300px;
    background: mediumpurple;
    font-size: 15pt;
    text-decoration: underline;
    text-align: right;
}

.footer {
    height: 150px;
    background: lightgreen;
}

.header {
    height: 150px;
    background-image: url("http://i657.photobucket.com/albums/uu294/mavromatidis/skyblue1024x150.jpg");
}
