{% extends 'base.html' %}
{% load static %}
{% block title %}投票详情页{% endblock %}
{% block content %}
<h1>投票详情</h1>
<hr>
<h2>{{ question.question_text }}</h2>
<form action="{% url 'vote' question_id=question.id %}" method="post">
    {% for choice in question.choice_set.all %}
        <div class="radio">
            <label>
                <input type="radio" name="choice_id" value="{{ choice.id }}">
                {{ choice.choice_text }}
            </label>
        </div>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="投 票">
</form>
{% endblock %}
