* {
    font-size: 15pt;
}

body {
    background: silver;
}

h4, h5, h6, p {
    margin: 0;
    padding: 0;
}



.important {
    font-weight: bold;
    background: blue;
}

#i1 {
    text-align: center;
}

.warning {
    background: green;
    color: yellow;
}

.web {
    color: green;
    font-weight: bold;
}

.c1 {
    text-align: center;
    color: blue;
}

h3 {
    text-align: right;
    background: orange;
}










