<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票详情</title>
</head>
<body>
<h1>{{ question.id }}号问题投票详情</h1>
<h2>{{ question.question_text }}</h2>
{% if question.choice_set.all %}   {% comment %}如果选项集不是空的{% endcomment %}
{#    <form action="/polls/{{ question.id }}/vote/" method="post">#}
    <form action="{% url 'vote' question_id=question.id %}" method="post">
        {% for choice in question.choice_set.all %}
            <div>
                <label>
                    <input type="radio" name="choice_id" value="{{ choice.id }}">
                    {{ choice.choice_text }}
                </label>
            </div>
        {% endfor %}
        <input type="submit" value="投 票">
    </form>
    {% comment %}<ol>
        {% for choice in question.choice_set.all %}
            <li>{{ choice.choice_text }}</li>
        {% endfor %}
    </ol>{% endcomment %}
{% else %}
    <h3>尚无选项</h3>
{% endif %}
</body>
</html>