*{
    font-size: 15pt;
}

a:link{
    color: red;
}
a:hover{
    font-size: 30pt;
}
a:visited{
    color: gray;
}

p .c2{
    font-size: 40pt;
}

p.c1 {
    font-size: 30pt;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

#myid1{
    color: rebeccapurple;
}

.warning{
    color: purple;
    background: yellow;
}

.important{
    color: red;
}

.hc{
    color: green;
    background: darkorange;
}

h1{
    font-size: 25pt;
    color: brown;
}

p{
    font-weight: bold;
}

