{% extends 'base.html' %}
{% load static %}
{% block title %}执行任务{% endblock %}
{% block content %}
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#host" data-toggle="tab">主机</a></li>
            <li><a href="#hostgroup" data-toggle="tab">主机组</a></li>
        </ul>
        <form action="" method="post" style="padding-top: 10px">
            <div class="tab-content">
                <div class="tab-pane active fade in form-group" id="host">
                    <select name="ip" class="form-control">
                        <option value="">无</option>
                        {% for host in hosts %}
                            <option value="{{ host.ipaddr }}">{{ host.hostname }}: {{ host.ipaddr }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="tab-pane fade form-group" id="hostgroup">
                    <select name="group" class="form-control">
                        <option value="">无</option>
                        {% for group in groups %}
                            <option value="{{ group.group_name }}">{{ group.group_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
