{% extends 'base.html' %}
{% load static %}
{% block title %}首页{% endblock %}
{% block content %}
    <div class="row text-center h4">
        <div class="col-md-3">
            <a href="{% url 'mainpage' %}">
                <img width="150px" src="{% static 'imgs/linux.jpg' %}"><br>
                主机信息
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'addhosts' %}">
                <img width="150px" src="{% static 'imgs/linux.jpg' %}"><br>
                添加主机
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'addmodules' %}">
                <img width="150px" src="{% static 'imgs/linux.jpg' %}"><br>
                添加模块
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'tasks' %}">
                <img width="150px" src="{% static 'imgs/linux.jpg' %}"><br>
                执行任务
            </a>
        </div>
    </div>
{% endblock %}
